/*RESET y Estilos generales---------------------------------*/
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #f22222;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

/*---------------------------------------------------------------*/
/*ESTILOS MOBILE*/
/*---------------------------------------------------------------*/
@media only screen and (min-width: 0px) and (max-width: 786px) {
  /*Barra de navegación*/
  .mibarra {
    font-size: 1.2rem;
    background-color: #260801 !important;
    font-family: "Lato", sans-serif;
    height: 80px;
    z-index: 10;
  }
  .colorFuente {
    color: #cecdcd !important;
  }
  /*color menu amburguesa*/
  .backgroundMenuBar {
    background-color: #260801b2;
    color: #cecdcd;
  }
  /*Logo de la empresa*/
  .imgLogo {
    width: 60px;
    height: 60px;
  }
  /*cambia de color al precionar puntero */
  nav li a:active {
    color: #f22222 !important;
  }
  /*amplia al pasar el mouse*/
  nav li:hover {
    transform: scale(1.19);
    transition: 1s;
  }
  /*animación del logo*/
  .logo {
    animation-name: movimiento;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-direction: alternate;
  }
  @keyframes movimiento {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /*pausa animación al pasar el puntero*/
  .logo:hover {
    animation-play-state: paused;
  }

  /*Estilo de los titulos y parrafos*/
  .tituloPrincipal {
    font-family: "Lato", sans-serif;
    color: #260801;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .tituloSecundario {
    font-family: "Lato", sans-serif;
    color: #260801;
    font-size: 1.4rem;
    font-weight: 600;
    word-spacing: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .tituloTercero {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    word-spacing: 2px;
    color: #260801;
  }
  p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: italic;
    color: #260801;
    text-align: center;
  }
  .ajusteParrafo400 {
    max-width: 400px;
  }

  /* Imagenes */
  .asideIz {
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/surface_p1_fondoSellos.png);
    background-size: contain;
    background-attachment: fixed;
    background-position: left;
    opacity: 0.5;
  }
  .asideDer {
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/surface_p1_fondoSellos.png);
    background-size: contain;
    background-attachment: fixed;
    background-position: right;
    opacity: 0.5;
  }
  .ajusteImagenGr {
    width: 100%;
  }
  .index {
    z-index: 1;
  }

  /*Contenedores*/
  .contenedorCentral {
    background-color: #2947f215;
    border-radius: 5px;
    height: auto;
  }
  .contFotoProduc {
    border: 0.5px solid #cecdcd75;
  }
  /* amplia fotos de productos 20% con :hover*/
  .contFotoProduc:hover {
    transform: scale(1.1);
    transition: 1.5s;
  }

  /*FOOTER*/
  .pie1 {
    height: 80px;
    background-color: #260801d0;
    font-family: "Lato", sans-serif;
  }
  .pie2 {
    margin-bottom: 0;
    height: 50px;
    color: #f22222;
    background-color: #260801;
    font-family: "Lato", sans-serif;
  }
  .iconoSize {
    font-size: 2rem;
  }
  .colorIco {
    color: #cecdcd;
  }
}

/*---------------------------------------------------------------*/
/*ESTILOS TABLET*/
/*---------------------------------------------------------------*/
@media only screen and (min-width: 769px) and (max-width: 1023px) {
  /*Barra de navegación*/
  .mibarra {
    font-size: 1.2rem;
    background-color: #260801 !important;
    font-family: "Lato", sans-serif;
    height: 80px;
    z-index: 10;
  }
  .colorFuente {
    color: #cecdcd !important;
  }
  /*Menú amurguesa*/
  .backgroundMenuBar {
    background-color: #260801b2;
    color: #cecdcd;
  }
  /*Logo de la empresa*/
  .imgLogo {
    width: 60px;
    height: 60px;
  }
  /*cambia de color al precionar mouse*/
  nav li a:active {
    color: #f22222 !important;
  }
  /*amplia al pasar el mouse*/
  nav li:hover {
    transform: scale(1.19);
    transition: 1s;
  }
  /*Animación del logo*/
  .logo {
    animation-name: movimiento;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-direction: alternate;
  }
  @keyframes movimiento {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /*pausa animación al pasar el puntero*/
  .logo:hover {
    animation-play-state: paused;
  }

  /*Estilo de los titulos y parrafos*/
  .tituloPrincipal {
    font-family: "Lato", sans-serif;
    color: #260801;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin-top: 1.5rem;
  }
  .tituloSecundario {
    font-family: "Lato", sans-serif;
    color: #260801;
    font-size: 2.5rem;
    font-weight: 700;
    word-spacing: 5px;
  }
  .tituloTercero {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    word-spacing: 2px;
    color: #260801;
  }
  .ajusteTitulo {
    width: 100%;
    text-align: right;
    padding-right: 200px;
    font-size: 3rem;
    word-spacing: 5px;
  }
  p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: italic;
    color: #260801;
    text-align: center;
  }
  .ajusteParrafo400 {
    max-width: 400px;
  }

  /* Imagenes */
  .asideIz {
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/surface_p1_fondoSellos.png);
    background-size: contain;
    background-attachment: fixed;
    background-position: left;
    opacity: 0.5;
  }
  .asideDer {
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/surface_p1_fondoSellos.png);
    background-size: contain;
    background-attachment: fixed;
    background-position: right;
    opacity: 0.5;
  }
  .ajusteImagenGr {
    width: 70%;
  }
  .index {
    z-index: 1;
  }

  /*Contenedores*/
  .contenedorCentral {
    background-color: #2947f215;
    border-radius: 5px;
    height: auto;
  }
  .contFotoProduc {
    border: 0.5px solid #cecdcd75;
  }
  /* amplia fotos de productos con :hover*/
  .contFotoProduc:hover {
    transform: scale(1.1);
    transition: 1.5s;
  }

  /*FOOTER*/
  .pie1 {
    height: 80px;
    background-color: #260801d0;
    font-family: "Lato", sans-serif;
  }
  .pie2 {
    height: 50px;
    color: #f22222;
    background-color: #260801;
    font-family: "Lato", sans-serif;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .iconoSize {
    font-size: 2.25rem;
  }
  .colorIco {
    color: #cecdcd;
  }
}

/*---------------------------------------------------------------*/
/*ESTILOS DESKTOP*/
/*---------------------------------------------------------------*/
@media only screen and (min-width: 1024px) {
  /*Barra de navegación*/
  .mibarra {
    font-size: 1.2rem;
    background-color: #260801 !important;
    font-family: "Lato", sans-serif;
    height: 80px;
  }
  .colorFuente {
    color: #cecdcd !important;
  }
  /*Menú amburguesa*/
  .backgroundMenuBar {
    background-color: #260801b2;
    color: #cecdcd;
  }
  /*Logo de la empresa*/
  .imgLogo {
    width: 120px;
    height: 120px;
  }
  /*cambia de color al precionar mouse*/
  nav li a:active {
    color: #f22222 !important;
  }
  /*amplia al pasar el mouse*/
  nav li:hover {
    transform: scale(1.19);
    transition: 1s;
  }
  /*Animación del logo*/
  .logo {
    margin-top: 80px;
    margin-left: 10px;
    animation-name: movimiento;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-direction: alternate;
  }
  @keyframes movimiento {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /*pausa animación al pasar el puntero*/
  .logo:hover {
    animation-play-state: paused;
  }

  /*Estilo de los titulos y parrafos*/
  .tituloPrincipal {
    font-family: "Lato", sans-serif;
    color: #260801;
    font-size: 3.5rem;
    font-weight: 900;
    word-spacing: 5px;
    text-align: center;
    margin-top: 1.5rem;
  }
  .tituloSecundario {
    font-family: "Lato", sans-serif;
    color: #260801;
    font-size: 3rem;
    font-weight: 700;
    word-spacing: 5px;
  }
  .tituloTercero {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    word-spacing: 2px;
    color: #260801;
  }
  .ajusteTitulo {
    width: 100%;
    text-align: right;
    padding-right: 200px;
    word-spacing: 5px;
  }
  p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: italic;
    color: #260801;
    text-align: center;
  }
  .ajusteParrafo400 {
    max-width: 400px;
  }

  /* Imagenes*/
  .asideIz {
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/surface_p1_fondoSellos.png);
    background-size: contain;
    background-attachment: fixed;
    background-position: left;
    opacity: 0.5;
  }
  .asideDer {
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/surface_p1_fondoSellos.png);
    background-size: contain;
    background-attachment: fixed;
    background-position: right;
    opacity: 0.5;
  }
  .ajusteImagenGr {
    width: 70%;
  }
  .index {
    z-index: 1;
  }

  /*Contenedores*/
  .contenedorCentral {
    background-color: #2947f215;
    border-radius: 5px;
  }
  .contFotoProduc {
    border: 0.5px solid #cecdcd75;
  }
  /* amplia fotos de productos*/
  .contFotoProduc:hover {
    transform: scale(1.1);
    transition: 1.5s;
  }

  /*FOOTER*/
  .pie1 {
    height: 80px;
    background-color: #260801d0;
    font-family: "Lato", sans-serif;
  }
  .pie2 {
    height: 50px;
    color: #f22222;
    background-color: #260801;
    font-family: "Lato", sans-serif;
  }
  .iconoSize {
    font-size: 2.5rem;
  }
  .colorIco {
    color: #cecdcd;
  }
}

/*ESTILOS MOBILE LANSCAPE*/
/*---------------------------------------------------------------*/
@media (max-width: 916px) and (orientation: landscape) {
  .tituloPrincipal {
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
    margin: 10px auto !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .ajusteImagenGr {
    width: 60%;
    padding-top: 0.5rem !important;
    margin-top: 0 !important;
  }

  .paddingProducLand {
    padding: 2px !important;
  }

  .imgProducto {
    width: 150px;
    height: 150px;
  }
  .ajusteTitulo {
    width: 100%;
    text-align: right;
    padding-right: 100px;
    word-spacing: 5px;
  }

  .tituloTercero {
    padding-top: 5px !important;
    margin-bottom: 5px !important;
  }

  .imgNos {
    width: 220px;
    height: 220px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .ajusteNosLand {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 15px;
  }
  .ajusteRatio {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
