/*RESET y Estilos gene%rales---------------------------------*/

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}


body {
    background-color: #f22222;
}

@font-face {
    font-family: "topsecretstamp";
    src: url("../assets/fonts/topsecretstamp.ttf")
}


/*HEADER-----------------------------------------------------*/

.menu {
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin: auto;
    font-size: 1.2rem;
    text-align: center;
    background-color: #260801;
    font-family: 'Lato', sans-serif;
}

.menu__opcion {
    display: inline-block;
    margin: 0 3rem;
}

nav a {
    color: #cecdcd;
    font-weight: 400;
    word-spacing: 5px;
    
}

nav a:hover{
    color: #f22222;
}

.logo {
    position: fixed;
    margin-top: 15px;
    margin-left: 15px;
}

.imgLogo{
    width: 120px;
    height: 120px;
}




/*ESTILOS DEL INDEX*/
/*Titulo e imagen de portada--------------------------------------------*/


.tituloPrincipal {
    font-family: "topsecretstamp";
    color: #260801;
    font-size: 5rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.imagenPrincipal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.5rem;
    width: 70%;
    border-radius: 5px;
}

/*Titulo e imagen secundarios-------------------------------------------*/

.tituloSecundario {
    font-family: 'Lato', sans-serif;
    color: #260801;
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    word-spacing: 5px;
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
    margin-right: 10%;
    margin-top: 3.5rem;
}

.tituloTercero {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 5px;
    word-spacing: 2px;
    text-align: center;
    color: #260801;
}


.imagenSecundaria {

    display: block;
    margin: 2rem auto 4rem auto;
    width: 70%;
    height: auto;
    border-radius: 5px;
}

/*FOOTER--------------------------------------------------*/

.piePagina {
    display: flex;
    width: 100%;
    height: auto;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    background-color: #260801;
    font-family: 'Lato', sans-serif;
}

footer li a {
    color: #f22222;
}

.opcionPie {
    
    color: #f22222;
    padding: 0 5rem;
}

.icono{
    width: 50px;
    height: 50px;
    display: block;
    background: url("../assets/images/css_sprites_white_100px.png") no-repeat;
    margin-top: 10px;
    margin-bottom: 10px;   
}

.icono-email{
    background-position: -6px 6px;
}

.icono-face{
    background-position: -50px 0;
}

.icono-insta{
    background-position: 0 -50px;
}

.icono-whatsapp {
    background-position: -50px -50px;
}











/*SOBRE NOSOTROS---------------------------------------*/

.cajaNosotoros {
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: italic;
    color: #260801;
}

/*NOTICIAS------------------------------------------------*/

.contenedorNews {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    background-color: #2947f215;
    border-radius: 5px;
    text-align: center;
    justify-content: space-evenly;
}

/*CONTACTO---------------------------------------------*/

.flexContainerContacto {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 50%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    background-color: #2947f215;
    border-radius: 5px;
    text-align: center;
    border: 0.5px solid #cecdcd75;
}

.form__title {
    margin-top: 1rem;
}

.form__nombreYapellido {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    word-spacing: 5px;
    color: #260801;
}

.form__nombreYapellido--caja {
    height: 2rem;
    border-radius: 3px;
    border: none;
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 1rem;
    padding-left: 3px;
    box-shadow: 2px 5px 2px 1px #26080163;
}

.form__email {
    margin-bottom: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    word-spacing: 5px;
    color: #260801;
}

.form__email--caja {
    height: 2rem;
    border: none;
    border-radius: 3px;
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 1rem;
    padding-left: 3px;
    box-shadow: 2px 5px 2px 1px #26080163;
}

.form__pais {
    margin-bottom: 2rem;
    color: #260801;
}

.form__pais--caja {
    border: none;
    border-radius: 3px;
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 1rem;
    box-shadow: 2px 5px 2px 1px #26080163;
}

.form__comentarios--textarea {
    border: none;
    border-radius: 3px;
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 1rem;
    box-shadow: 2px 5px 2px 1px #26080163;
}


.form__newslater {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #260801;
    word-spacing: 3px;
}

.form__newslater--check {
    background-color: #cecdcd;
    width: 18px;
    height: 18px;
}

.form__action {
    margin-bottom: 2rem;
    word-spacing: 5px;
}

.form__action--button {
    background-color: #cecdcd;
    width: 100px;
    height: 35px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    border: 0.5px solid #260801;
    border-radius: 5px;
    color: #260801;
    box-shadow: 2px 5px 2px 1px #26080163;
}