.boton {
  display: flex;
  width: 80px;
  height: 40px;
  background-color: map-get($paleta, color-5);
  text-align: center;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  color: map-get($paleta, color-3);
  border-radius: 5px;
  font: $font-links;
  border: 1px solid map-get($paleta, color-5-1); 
  box-shadow: 2px 2px 2px 1px map-get($paleta, color-3);

   &:hover{
       color: map-get($paleta, color-5);
       background-color: map-get($paleta, color-3);
       border: 1px solid map-get($paleta, color-3); 
   }
}

.boton--aceptar {
  @extend .boton;
  background-color: map-get($paleta, color-5);
  color: map-get($paleta, color-3);
}

.boton--borrar {
  @extend .boton;
  background-color: map-get($paleta, color-4-1);
  color: map-get($paleta, color-3);
}
