/*FOOTER*/
.pie1 {
  height: 80px;
  background-color: $col-brown-2;
  font-family: $font-links;
}
.pie2 {
  margin-bottom: 0;
  height: 50px;
  color: $col-red;
  background-color: $col-brown;
  font-family: $font-links;
}
.iconoSize {
  font-size: 2rem;
}
.colorIco {
  color: $col-gris;
}
