/*FOOTER*/
.pie1 {
  height: 80px;
  background-color: map-get($paleta,color-5);
  font-family: $font-links;
}
.pie2 {
  margin-bottom: 0;
  height: 50px;
  color: map-get($paleta,color-1);
  background-color: map-get($paleta,color-3);
  font-family: $font-links;
}
.iconoSize {
  font-size: 2rem;
}
.colorIco {
  color: map-get($paleta,color-3);
}
