/*Barra de navegación*/
.mibarra {
  font-size: 1.2rem;
  background-color: map-get($paleta, color-3) !important;
  font-family: $font-links;
  height: 80px;
  z-index: 10;
}
.colorFuente {
  color: map-get($paleta, color-5) !important;
}
/*color menu amburguesa*/
.backgroundMenuBar {
  background-color: map-get($paleta, color-3-2);
  color: map-get($paleta, color-5);
}
/*Logo de la empresa*/
.imgLogo {
  width: 60px;
  height: 60px;
}
/*cambia de color al precionar puntero */
nav {
  li a {
    &:hover {
      color: map-get($paleta, color-1) !important;
    }
  }
}
/*animación del logo*/
.logoAnim {
  animation-name: movimiento;
  animation-duration: 3s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  @keyframes movimiento {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /*pausa animación al pasar el puntero*/
  &:hover {
    animation-play-state: paused;
  }
}
