

/*COLORES*/
$col-red: #f22222;
$col-bg2:#f29f05;
$col-brown: #260801;
$col-brown-2:#260801d0;
$col-back-uno: #260801b2;
$col-gris:#cecdcd;
$col-gris-2:#cecdcd75;
$col-azul:#2947f215;

/*FUENTES*/
$font-links:  "Lato", sans-serif;
$font-titulos: "Lato", sans-serif;
$font-parrafo: "Lato", sans-serif;
