

/*Paleta de colores*/
$paleta: (
  color-1: #f22222,
  color-2: #f29f05,
  color-3: #260801,
  color-3-1: #260801d0,
  color-3-2: #260801b2,
  color-4: #2947f2,
  color-4-1: #2947f215,
  color-5: #cecdcd,
  color-5-1: #cecdcd75,
);


/*FUENTES*/
$font-links:  "Lato", sans-serif;
$font-titulos: "Lato", sans-serif;
$font-parrafo: "Lato", sans-serif;
