@import "reset";
@import "variables";
@import "header";
@import "footer";

body {
  background-color:  map-get($paleta,color-1 );
  display: grid; /*corrige posición del footer siempre abajo*/
  min-height: 100vh; /*idem*/
  grid-template-rows: auto auto 1fr auto; /*idem*/
}

// .bodyProd {
  // background-color: $col-red;
// }
// 
/*---------------------------------------------------------------*/
/*ESTILOS MOBILE*/
/*---------------------------------------------------------------*/
@media only screen and (min-width: 0px) and (max-width: 537px) {
  /*Estilo de los titulos y parrafos*/
  .tituloPrincipal {
    font-family: $font-titulos;
    color: map-get($paleta,color-3);
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .tituloSecundario {
    font-family: $font-titulos;
    color: map-get($paleta,color-3);
    font-size: 1.4rem;
    font-weight: 600;
    word-spacing: 5px;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .tituloTercero {
    font-family: $font-titulos;
    font-weight: 500;
    font-size: 1.2rem;
    word-spacing: 2px;
    color: map-get($paleta,color-3);
  }

  p {
    font-family: $font-parrafo;
    font-weight: 400;
    font-size: 1rem;
    font-style: italic;
    color: map-get($paleta,color-3);
    text-align: center;
  }

  .ajusteParrafo400 {
    max-width: 400px;
  }

  /* Imagenes */
  .asideIz {
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/surface_p1_fondoSellos.png);
    background-size: contain;
    background-attachment: fixed;
    background-position: left;
    opacity: 0.5;
  }
  .asideDer {
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/surface_p1_fondoSellos.png);
    background-size: contain;
    background-attachment: fixed;
    background-position: right;
    opacity: 0.5;
  }

  .ajusteImagenGr {
    width: 100%;
  }
  .index {
    z-index: 1;
  }

  /*Contenedores*/
  .contenedorCentral {
    background-color: map-get($paleta, color-4-1);
    border-radius: 5px;
    height: 100%;
    align-content: space-around;
  }

  .imgProducto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid map-get($paleta, color-5);
    object-fit: cover;
    &:hover {
      transform: scale(1.1);
      transition: 1.5s;
    }
  }
}

/*---------------------------------------------------------------*/
/*ESTILOS TABLET*/
/*---------------------------------------------------------------*/
@media only screen and (min-width: 538px) and (max-width: 1023px) {
  /*Barra de navegación*/

  /*Estilo de los titulos y parrafos*/
  .tituloPrincipal {
    font-family: $font-titulos;
    color:  map-get($paleta,color-3);
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .tituloSecundario {
    font-family: $font-titulos;
    color:  map-get($paleta,color-3);
    font-size: 2.5rem;
    font-weight: 700;
    word-spacing: 5px;
    margin-bottom: 0.5rem;
  }
  .tituloTercero {
    font-family: $font-titulos;
    font-weight: 500;
    font-size: 1.3rem;
    word-spacing: 2px;
    color:  map-get($paleta,color-3);
  }
  .ajusteTitulo {
    width: 100%;
    text-align: right;
    padding-right: 10%;
    font-size: 3rem;
    word-spacing: 5px;
  }
  p {
    font-family: $font-parrafo;
    font-weight: 400;
    font-size: 1rem;
    font-style: italic;
    color:  map-get($paleta,color-3);
    text-align: center;
  }
  .ajusteParrafo400 {
    max-width: 400px;
  }

  /* Imagenes */
  .asideIz {
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/surface_p1_fondoSellos.png);
    background-size: contain;
    background-attachment: fixed;
    background-position: left;
    opacity: 0.5;
  }
  .asideDer {
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/surface_p1_fondoSellos.png);
    background-size: contain;
    background-attachment: fixed;
    background-position: right;
    opacity: 0.5;
  }
  .ajusteImagenGr {
    width: 70%;
  }
  .index {
    z-index: 1;
  }

  /*Contenedores*/
  .contenedorCentral {
    background-color: map-get($paleta, color-4-1);
    border-radius: 5px;
    height: 100%;
    align-content: space-around;
  }
  .imgProducto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 8px solid map-get($paleta, color-5);
    object-fit: cover;
    &:hover {
      transform: scale(1.1);
      transition: 1.5s;
    }
  }
}

/*---------------------------------------------------------------*/
/*ESTILOS MOBILE/TABLET LANSCAPE*/
/*---------------------------------------------------------------*/
@media (max-width: 920px) and (orientation: landscape) {
  /*Ajuste Titulos*/

  .tituloPrincipal {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 10px auto 5px auto;
    padding-top: 0;
    padding-bottom: 0;
  }
  .ajusteTitulo {
    width: 100%;
    text-align: right;
    padding-right: 100px;
    word-spacing: 5px;
  }
  .tituloTercero {
    padding-top: 5px !important;
    margin-bottom: 5px !important;
  }

  /*Ajuste de imagenes*/
  .ajusteImagenGr {
    width: 55%;
    /* padding-top: 1rem !important; */
    /* margin-top: 0 !important; */
  }

  .paddingProducLand {
    padding: 2px !important;
  }

  .imgProducto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid map-get($paleta, color-5);
    object-fit: cover;
    &:hover {
      transform: scale(1.1);
      transition: 1.5s;
    }

    .imgNos {
      width: 150px;
      height: 150px;
      padding-left: 5px;
      padding-right: 5px;
    }

    /*Contenedores*/
    .contenedorCentral {
      width: 80%;
      height: 100%;
    }

    /*Ajuste primer contenedor about-us*/
    .ajusteNosLand {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20x;
      padding-bottom: 15px;
    }

    /*Ajuste Videos y mapa*/
    .ajusteRatio {
      width: 60%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/*---------------------------------------------------------------*/
/*ESTILOS DESKTOP*/
/*---------------------------------------------------------------*/
@media only screen and (min-width: 1024px) {
  /*Logo de la empresa*/
  .imgLogo {
    width: 120px;
    height: 120px;
    margin-top: 80px;
    margin-left: 10px;
  }

  .imgProducto {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 8px solid map-get($paleta, color-5);
    object-fit: cover;

    &:hover {
      transform: scale(1.5);
      transition: 1.0s;
    }
  }

  /*Estilo de los titulos y parrafos*/
  .tituloPrincipal {
    font-family: $font-titulos;
    color:  map-get($paleta,color-3);
    font-size: 3.5rem;
    font-weight: 900;
    word-spacing: 5px;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .tituloSecundario {
    font-family: $font-titulos;
    color:  map-get($paleta,color-3);
    font-size: 3rem;
    font-weight: 700;
    word-spacing: 5px;
    margin-bottom: 0.5rem;
    margin-bottom: 1.5rem;
  }
  .tituloTercero {
    font-family: $font-titulos;
    font-weight: 500;
    font-size: 1.3rem;
    word-spacing: 2px;
    color:  map-get($paleta,color-3);
  }
  .ajusteTitulo {
    width: 100%;
    text-align: right;
    padding-right: 10%;
    word-spacing: 5px;
  }

  p {
    font-family: $font-parrafo;
    font-weight: 400;
    font-size: 1rem;
    font-style: italic;
    color:  map-get($paleta,color-3);
    text-align: center;
  }
  .ajusteParrafo400 {
    max-width: 400px;
  }

  /* Imagenes*/
  .asideIz {
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/surface_p1_fondoSellos.png);
    background-size: contain;
    background-attachment: fixed;
    background-position: left;
    opacity: 0.5;
  }
  .asideDer {
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/surface_p1_fondoSellos.png);
    background-size: contain;
    background-attachment: fixed;
    background-position: right;
    opacity: 0.5;
  }
  .ajusteImagenGr {
    width: 70%;
  }

  .index {
    z-index: 1;
  }

  /*Contenedores*/
  .contenedorCentral {
    background-color: map-get($paleta, color-4-1);
    border-radius: 5px;
  }
}
